ul {
    list-style: none;
}

.App {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

#main {
    display: flex;
    flex-direction: row;
}
#header {
    align-self: flex-start;
}

#left-sidebar {
    align-self: flex-start;
}

/* #main-section {
    flex-grow: 2;
} */